{#{% extends 'base.html.twig' %}#}
<div style="background: #66dd66">
{% block body %}
    <form action="{{ path('blog_index' ) }}" method="post" name="done">

        <input type="submit" value="GO HOME" style="background-color: #d58512; width: 100px ">
    </form>
    <h1>Plan edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('plan_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

</div>