{#{% extends 'base.html.twig' %}#}

{% block body %}
    <div style="background: #b2dba1">
    <h1>Plans list</h1>
        <form action="{{ path('blog_index' ) }}" method="post" name="done">

            <input type="submit" value="GO HOME" style="background-color: #d58512; width: 100px ">
        </form>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Job</th>
                <th>Date</th>
                <th>Isdone</th>
                <th>Actions</th>
                <th>Approvement</th>
                <th>Report</th>
                <th>Do Report</th>
            </tr>
        </thead>
        <tbody>
        {% for plan in plans %}
            {% if app.user.roles[0] == "ROLE_ADMIN" or app.user.userName == plan.name %}
            <tr>
                <td><a href="{{ path('plan_show', { 'id': plan.id }) }}">{{ plan.id }}</a></td>
                <td><a href="{{ path('user_from_plan',{'id': plan.id}) }}">{{ plan.name }}</a></td>
                <td>{{ plan.job }}</td>
                <td style="width: 144px">{% if plan.date %}{{ plan.date|date('Y-m-d ') }}{% endif %}</td>
                <td>{% if plan.isDone %}<small style="background-color: #66dd66"> Yes</small>
                    {% else %}<small style="background-color: red">No</small>{% endif %}</td>
                <td>
                    {% if app.user.roles[0]=="ROLE_ADMIN" %}
                        <ul>
                            <li>
                                <a href="{{ path('plan_new_for_someone',{id: plan.id}) }}">Create a new plan for {{ plan.name }}</a>
                            </li>
                        </ul>
                    {% endif %}
                </td>
                <td >
                    {% if app.user.roles[0]=="ROLE_ADMIN" %}
                        <ul>
                            <li>
                                <a href="{{ path('plan_done',{id: plan.id}) }}">aprowed the job </a>
                            </li>
                        </ul>
                    {% endif %}
                </td>
<td style="width: 399px">
{% if  plan.report  %}
    {{ plan.report.notice }}
{% endif %}
</td>
                <td style="width: 99px">
                    <a href="{{ path('report_new',{'id': plan.id}) }}" >Do Report</a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
