<body style="background: #b2dba1">
{% block body %}
    <h1>{{ "plans for  " }}{{ user.userName }}<form action="{{ path('blog_index' ) }}" method="post" name="done">

            <input type="submit" value="GO HOME" style="background-color: #d58512; width: 100px ">
        </form></h1>
    <table border="1">
    {% for plan in user.plans %}
        <tr>
            {% if plan.isDone == 1 %}

                <td style="background: #3e8f3e">THE JOB IS DONE</td>

            {% else %}
                <td style="background: orangered">UNFINISH JOB</td>

            {% endif %}
        <td>{% if app.user.roles[0]=="ROLE_ADMIN" %}
            <ul>
                <li>
                    <a href="{{ path('plan_edit2',{id: plan.id}) }}">Create a new plan for {{ plan.name }}</a>
                </li>
            </ul>

        {% endif %}
        </td>
            <td style="width: 100px "> {{ plan.job }}</td><td style="width: 100px ">{{ plan.date.format("d-m-Y") }}
       </td>

        </tr>
    {% endfor %}
        </table>
    <br/>
    <form action="{{ path('blog_index' ) }}" method="post" name="done">

        <input type="submit" value="GO HOME" style="background-color: #d58512; width: 100px ">
    </form>

{% endblock %}
</body>

