{% block body %}
<nav style="background-color: #3e8f3e">


    <div >
        <div class="col-sm-4 col-sm-offset-4">
            <form action="{{ path('job_todo', {id: user.id}) }}" method="get">
                <input type="submit" value="job to do"/>
            </form>
        </div>
    </div>
    <div >
        <div class="col-sm-4 col-sm-offset-4">
            <form action="{{ path('user_intern', {id: user.id}) }}" method="get">
                <input type="submit" value="Intern"/>
            </form>
        </div>
    </div>

{#    <button href="#">left rest days</button>#}


        <div class="col-sm-4 col-sm-offset-4">
            <form action="{{ path('furlough_new') }}" method="post">
                <input type="submit" value="application for furlough"/>
            </form>
        </div>

    <div class="col-sm-4 col-sm-offset-4">
        <a class="btn btn-default" href="{{ path('security_logout') }}">LOGOUT</a>
{#        <button type="submit" class="btn btn-success">Edit</button>#}
    </div>

</nav>
    <hr/>
   <p></p>{{ 'username ---->  '}} {{ user.userName }}<br/>{{ 'email-----> ' }}{{ user.email }}<p></p>
<p>{{ 'FURLOUGH---->' }}{{ user.furlough }}</p>{{ 'job for today---->' }}<p></p>
<small>{{ 'dataAdded----->' }}{{ user.dateAdded.format('d-m-y') }}</small>
    <p>{{ 'user_id ---> ' }}{{ user.id }}</p>
     <p>{{ "user ROLE ---->" }}{{ user.roles[0] }}</p>
{% endblock %}

